In [1]:
library('tidyverse')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
original_dir <- getwd()

In [3]:
data <- read.csv('openml__Bioresponse__9910.csv')
data %>% dim 
data %>% count(target)
data %>% head

[1] 3751 1777

  target n
1 0      1717
2 1      2034

  X0        X1        X2   X3   X4        X5        X6        X7
1 0.0000000 0.4970090 0.10 0.00 0.1329560 0.6780307 0.2731660 0.5854449
2 0.3666667 0.6062915 0.05 0.00 0.1112090 0.8034547 0.1061051 0.4117539
3 0.0333000 0.4801243 0.00 0.00 0.2097914 0.6103503 0.3564527 0.5177195
4 0.0000000 0.5388248 0.00 0.50 0.1963443 0.7242295 0.2356059 0.2887638
5 0.1000000 0.5177943 0.00 0.00 0.4947336 0.7814218 0.1543612 0.3038091
6 0.1333333 0.7710346 0.20 0.25 0.1221530 0.6773975 0.2672239 0.6111124
  X8        X9        ⋯ X1767 X1768 X1769 X1770 X1771 X1772 X1773 X1774 X1775
1 0.7436632 0.2431436 ⋯ 0     0     0     0     0     0     0     0     0
2 0.8365823 0.1064800 ⋯ 1     1     1     0     1     0     0     1     0
3 0.6790514 0.3523077 ⋯ 0     0     0     0     0     0     0     0     0
4 0.8051096 0.2089886 ⋯ 0     0     0     0     0     0     0     0     0
5 0.8126462 0.1251773 ⋯ 0     0     0     0     0     0     0     0     0
6 0.7014214 0.3309166 ⋯ 0     0     0     0     0     0     0     0     0
  target
1 1
2 1
3 1
4 1
5 0
6 0

In [4]:
set.seed(123)  # for reproducibility

data_0 <- data %>% filter(target == 0)
data_1 <- data %>% filter(target == 1)

n <- nrow(data_0)
train_size_0 <- floor(0.7 * n)

# Shuffle the rows first
data_0 <- data_0 %>% slice_sample(prop = 1)

# Split into training and testing
train_df_0 <- data_0 %>% slice(1:train_size_0)
test_df_0  <- data_0 %>% slice((train_size_0 + 1):n)

In [5]:
n <- nrow(data_1)
train_size_1 <- floor(0.7 * n)

# Shuffle the rows first
data_1 <- data_1 %>% slice_sample(prop = 1)

# Split into training and testing
train_df_1 <- data_1 %>% slice(1:train_size_1)
test_df_1  <- data_1 %>% slice((train_size_1 + 1):n)

train <- train_df_1 %>% rbind(train_df_0)
test <- test_df_1 %>% rbind(test_df_0)

train %>% dim
train %>% count(target)

[1] 2624 1777

  target n
1 0      1201
2 1      1423

In [6]:
test %>% dim
test %>% count(target)

[1] 1127 1777

  target n
1 0      516
2 1      611

In [30]:
sum(is.na(test))

[1] 0

In [9]:
611/1127

[1] 0.5421473

In [9]:
dir.create("bioresponse")
setwd("bioresponse")

train %>% write_csv('bioresponse_train.csv') 
test %>% write_csv('bioresponse_test.csv')

Warning message in dir.create("bioresponse"):
“'bioresponse' already exists”

In [11]:
setwd(original_dir)

data <- read.csv('openml__lymph__10.csv')
data %>% dim 
data %>% head

[1] 148  19

  X0 X1 X2 X3 X4 X5 X6 X7 X8 X9 X10 X11 X12 X13 X14 X15 X16 X17 target
1 0  1  0  0  0  0  0  1  1  4  2   0   2   7   2   1   1   5   1
2 2  1  0  0  1  1  0  1  1  3  2   0   2   1   2   1   1   3   1
3 1  0  0  0  1  1  1  0  3  1  0   2   3   1   2   0   0   7   0
4 0  0  0  0  0  1  0  1  1  2  1   1   1   2   2   0   1   1   1
5 0  0  0  0  0  0  0  0  1  2  2   1   1   3   2   0   0   1   2
6 0  0  0  0  0  0  0  1  1  2  1   0   2   3   2   1   1   3   1

In [12]:
data <- data %>%
  mutate(target = ifelse(target == 1, 0, 1))

data %>% head

  X0 X1 X2 X3 X4 X5 X6 X7 X8 X9 X10 X11 X12 X13 X14 X15 X16 X17 target
1 0  1  0  0  0  0  0  1  1  4  2   0   2   7   2   1   1   5   0
2 2  1  0  0  1  1  0  1  1  3  2   0   2   1   2   1   1   3   0
3 1  0  0  0  1  1  1  0  3  1  0   2   3   1   2   0   0   7   1
4 0  0  0  0  0  1  0  1  1  2  1   1   1   2   2   0   1   1   0
5 0  0  0  0  0  0  0  0  1  2  2   1   1   3   2   0   0   1   1
6 0  0  0  0  0  0  0  1  1  2  1   0   2   3   2   1   1   3   0

In [13]:
cols_with_non_binary <- sapply(data, function(col) {
  any(!col %in% c(0, 1))
})

# Get the names of columns that have values other than 0 or 1
names(data)[cols_with_non_binary]

[1] "X0"  "X8"  "X9"  "X10" "X11" "X12" "X13" "X14" "X17"

In [14]:
data %>% count(X0)

data <- data %>%
  mutate(X0_0 = ifelse(X0 == 0, 1, 0))

data <- data %>%
  mutate(X0_1 = ifelse(X0 == 1, 1, 0))

data <- data %>%
  mutate(X0_2 = ifelse(X0 == 2, 1, 0))

data %>% select(X0, X0_0, X0_1, X0_2) %>% head

data %>% select(-X0) -> data

  X0 n
1 0  67
2 1  46
3 2  33
4 3   2

  X0 X0_0 X0_1 X0_2
1 0  1    0    0
2 2  0    0    1
3 1  0    1    0
4 0  1    0    0
5 0  1    0    0
6 0  1    0    0

In [15]:
data %>% count(X8)
data %>% select(-X8) -> data

  X8 n
1 1  142
2 2    3
3 3    3

In [16]:
data %>% count(X9)

data <- data %>%
  mutate(X9_1 = ifelse(X9 == 1, 1, 0))

data <- data %>%
  mutate(X9_2 = ifelse(X9 == 2, 1, 0))

data <- data %>%
  mutate(X9_3 = ifelse(X9 == 3, 1, 0))

data %>% select(X9, X9_1, X9_2, X9_3) %>% head

data %>% select(-X9) -> data

  X9 n
1 1  13
2 2  72
3 3  43
4 4  20

  X9 X9_1 X9_2 X9_3
1 4  0    0    0
2 3  0    0    1
3 1  1    0    0
4 2  0    1    0
5 2  0    1    0
6 2  0    1    0

In [17]:
data %>% count(X10)

data <- data %>%
  mutate(X10_1 = ifelse(X10 == 1, 1, 0))

data <- data %>%
  mutate(X10_2 = ifelse(X10 == 2, 1, 0))

data %>% select(X10, X10_1, X10_2) %>% head

data %>% select(-X10) -> data

  X10 n
1 0    6
2 1   77
3 2   65

  X10 X10_1 X10_2
1 2   0     1
2 2   0     1
3 0   0     0
4 1   1     0
5 2   0     1
6 1   1     0

In [18]:
data %>% count(X11)

data <- data %>%
  mutate(X11_0 = ifelse(X11 == 0, 1, 0))

data <- data %>%
  mutate(X11_1 = ifelse(X11 == 1, 1, 0))

data <- data %>%
  mutate(X11_2 = ifelse(X11 == 2, 1, 0))

data %>% select(X11, X11_0, X11_1, X11_2) %>% head

data %>% select(-X11) -> data

  X11 n
1 0   50
2 1   46
3 2   49
4 3    3

  X11 X11_0 X11_1 X11_2
1 0   1     0     0
2 0   1     0     0
3 2   0     0     1
4 1   0     1     0
5 1   0     1     0
6 0   1     0     0

In [19]:
data %>% count(X12)

data <- data %>%
  mutate(X12_0 = ifelse(X12 == 0, 1, 0))

data <- data %>%
  mutate(X12_1 = ifelse(X12 == 1, 1, 0))

data <- data %>%
  mutate(X12_2 = ifelse(X12 == 2, 1, 0))

data %>% select(X12, X12_0, X12_1, X12_2) %>% head

data %>% select(-X12) -> data

  X12 n
1 0   25
2 1   75
3 2   42
4 3    6

  X12 X12_0 X12_1 X12_2
1 2   0     0     1
2 2   0     0     1
3 3   0     0     0
4 1   0     1     0
5 1   0     1     0
6 2   0     0     1

In [20]:
data %>% count(X13)

data <- data %>%
  mutate(X13_0 = ifelse(X13 == 0, 1, 0))

data <- data %>%
  mutate(X13_1 = ifelse(X13 == 1, 1, 0))

data <- data %>%
  mutate(X13_2 = ifelse(X13 == 2, 1, 0))

data <- data %>%
  mutate(X13_3 = ifelse(X13 == 3, 1, 0))

data <- data %>%
  mutate(X13_4 = ifelse(X13 == 4, 1, 0))

data %>% select(X13, X13_0, X13_1, X13_2, X13_3, X13_4) %>% head
data %>% select(-X13) -> data

  X13 n
1 0   31
2 1   28
3 2   19
4 3   45
5 4   14
6 5    2
7 6    2
8 7    7

  X13 X13_0 X13_1 X13_2 X13_3 X13_4
1 7   0     0     0     0     0
2 1   0     1     0     0     0
3 1   0     1     0     0     0
4 2   0     0     1     0     0
5 3   0     0     0     1     0
6 3   0     0     0     1     0

In [21]:
data %>% count(X14)

data <- data %>%
  mutate(X14_0 = ifelse(X14 == 0, 1, 0))

data <- data %>%
  mutate(X14_1 = ifelse(X14 == 1, 1, 0))

data %>% select(X14, X14_0, X14_1) %>% head

data %>% select(-X14) -> data

  X14 n
1 0   43
2 1   28
3 2   77

  X14 X14_0 X14_1
1 2   0     0
2 2   0     0
3 2   0     0
4 2   0     0
5 2   0     0
6 2   0     0

In [22]:
data %>% count(X17)

data <- data %>%
  mutate(X17_1 = ifelse(X17 == 1, 1, 0))

data <- data %>%
  mutate(X17_2 = ifelse(X17 == 2, 1, 0))

data <- data %>%
  mutate(X17_3 = ifelse(X17 == 3, 1, 0))

data <- data %>%
  mutate(X17_4 = ifelse(X17 == 4, 1, 0))

data %>% select(X17, X17_1, X17_2, X17_3, X17_4) %>% head

data %>% select(-X17) -> data

  X17 n
1 1   57
2 2   37
3 3   18
4 4   10
5 5    8
6 6    8
7 7    8
8 8    2

  X17 X17_1 X17_2 X17_3 X17_4
1 5   0     0     0     0
2 3   0     0     1     0
3 7   0     0     0     0
4 1   1     0     0     0
5 1   1     0     0     0
6 3   0     0     1     0

In [23]:
data %>% colnames

data %>% select(target) -> target
data %>% select(-target) -> data

data %>% cbind(target) -> data

data %>% head

 [1] "X1"     "X2"     "X3"     "X4"     "X5"     "X6"     "X7"     "X15"
 [9] "X16"    "target" "X0_0"   "X0_1"   "X0_2"   "X9_1"   "X9_2"   "X9_3"
[17] "X10_1"  "X10_2"  "X11_0"  "X11_1"  "X11_2"  "X12_0"  "X12_1"  "X12_2"
[25] "X13_0"  "X13_1"  "X13_2"  "X13_3"  "X13_4"  "X14_0"  "X14_1"  "X17_1"
[33] "X17_2"  "X17_3"  "X17_4"

  X1 X2 X3 X4 X5 X6 X7 X15 X16 X0_0 ⋯ X13_2 X13_3 X13_4 X14_0 X14_1 X17_1 X17_2
1 1  0  0  0  0  0  1  1   1   1    ⋯ 0     0     0     0     0     0     0
2 1  0  0  1  1  0  1  1   1   0    ⋯ 0     0     0     0     0     0     0
3 0  0  0  1  1  1  0  0   0   0    ⋯ 0     0     0     0     0     0     0
4 0  0  0  0  1  0  1  0   1   1    ⋯ 1     0     0     0     0     1     0
5 0  0  0  0  0  0  0  0   0   1    ⋯ 0     1     0     0     0     1     0
6 0  0  0  0  0  0  1  1   1   1    ⋯ 0     1     0     0     0     0     0
  X17_3 X17_4 target
1 0     0     0
2 1     0     0
3 0     0     1
4 0     0     0
5 0     0     1
6 1     0     0

In [24]:
data %>% count(target)

  target n
1 0      61
2 1      87

In [25]:
set.seed(123)  # for reproducibility

data_0 <- data %>% filter(target == 0)
data_1 <- data %>% filter(target == 1)

n <- nrow(data_0)
train_size_0 <- floor(0.7 * n)

# Shuffle the rows first
data_0 <- data_0 %>% slice_sample(prop = 1)

# Split into training and testing
train_df_0 <- data_0 %>% slice(1:train_size_0)
test_df_0  <- data_0 %>% slice((train_size_0 + 1):n)

In [26]:
n <- nrow(data_1)
train_size_1 <- floor(0.7 * n)

# Shuffle the rows first
data_1 <- data_1 %>% slice_sample(prop = 1)

# Split into training and testing
train_df_1 <- data_1 %>% slice(1:train_size_1)
test_df_1  <- data_1 %>% slice((train_size_1 + 1):n)

train <- train_df_1 %>% rbind(train_df_0)
test <- test_df_1 %>% rbind(test_df_0)

train %>% dim
train %>% count(target)

[1] 102  35

  target n
1 0      42
2 1      60

In [27]:
60/102

[1] 0.5882353

In [28]:
test %>% dim
test %>% count(target)

[1] 46 35

  target n
1 0      19
2 1      27

In [79]:
dir.create("lymph")
setwd("lymph")

train %>% write_csv('lymph_train.csv') 
test %>% write_csv('lymph_test.csv')

In [31]:
setwd(original_dir)

data <- read.csv('openml__heart-h__50.csv')
data %>% dim 
data %>% head

[1] 294  14

  X0 X1 X2 X3  X4  X5 X6 X7  X8 X9 X10 X11 X12 target
1 28 1  1  130 132 0  0  185 0  0  3   NA  3   0
2 29 1  1  120 243 0  1  160 0  0  3   NA  3   0
3 29 1  1  140  NA 0  1  170 0  0  3   NA  3   0
4 30 0  3  170 237 0  2  170 0  0  3   NA  0   0
5 31 0  1  100 219 0  2  150 0  0  3   NA  3   0
6 32 0  1  105 198 0  1  165 0  0  3   NA  3   0

In [33]:
data %>% count(X11)

  X11 n
1  0    3
2 NA  291

In [34]:
data %>% count(X2)

data <- data %>%
  mutate(X2_0 = ifelse(X2 == 0, 1, 0))

data <- data %>%
  mutate(X2_1 = ifelse(X2 == 1, 1, 0))

data <- data %>%
  mutate(X2_2 = ifelse(X2 == 2, 1, 0))

data %>% select(X2, X2_1, X2_2, X2_0) %>% head

data %>% select(-X2) -> data

  X2 n
1 0  123
2 1  106
3 2   54
4 3   11

  X2 X2_1 X2_2 X2_0
1 1  1    0    0
2 1  1    0    0
3 1  1    0    0
4 3  0    0    0
5 1  1    0    0
6 1  1    0    0

In [35]:
data %>% count(X5)

data <- data %>%
  mutate(X5_0 = ifelse(X5 == 0, 1, 0))

data <- data %>%
  mutate(X5_1 = ifelse(X5 == 1, 1, 0))

data %>% select(X5, X5_1, X5_0) %>% head

data %>% select(-X5) -> data

  X5 n
1 0  266
2 1   20
3 2    8

  X5 X5_1 X5_0
1 0  0    1
2 0  0    1
3 0  0    1
4 0  0    1
5 0  0    1
6 0  0    1

In [36]:
data %>% count(X6)

data <- data %>%
  mutate(X6_1 = ifelse(X6 == 1, 1, 0))

data <- data %>%
  mutate(X6_2 = ifelse(X6 == 2, 1, 0))

data %>% select(X6, X6_1, X6_2) %>% head

data %>% select(-X6) -> data

  X6 n
1 0    6
2 1  235
3 2   52
4 3    1

  X6 X6_1 X6_2
1 0  0    0
2 1  1    0
3 1  1    0
4 2  0    1
5 2  0    1
6 1  1    0

In [37]:
data %>% count(X8)

data <- data %>%
  mutate(X8_1 = ifelse(X8 == 1, 1, 0))

data <- data %>%
  mutate(X8_0 = ifelse(X8 == 0, 1, 0))

data %>% select(X8, X8_1, X8_0) %>% head

data %>% select(-X8) -> data

  X8 n
1 0  204
2 1   89
3 2    1

  X8 X8_1 X8_0
1 0  0    1
2 0  0    1
3 0  0    1
4 0  0    1
5 0  0    1
6 0  0    1

In [38]:
data %>% count(X10)

data <- data %>%
  mutate(X10_1 = ifelse(X10 == 1, 1, 0))

data <- data %>%
  mutate(X10_2 = ifelse(X10 == 2, 1, 0))

data <- data %>%
  mutate(X10_3 = ifelse(X10 == 3, 1, 0))

data %>% select(X10, X10_1, X10_2, X10_3) %>% head

data %>% select(-X10) -> data

  X10 n
1 0     1
2 1    91
3 2    12
4 3   190

  X10 X10_1 X10_2 X10_3
1 3   0     0     1
2 3   0     0     1
3 3   0     0     1
4 3   0     0     1
5 3   0     0     1
6 3   0     0     1

In [39]:
data %>% count(X12)

data <- data %>%
  mutate(X12_0 = ifelse(X12 == 0, 1, 0))

data <- data %>%
  mutate(X12_2 = ifelse(X12 == 2, 1, 0))

data <- data %>%
  mutate(X12_3 = ifelse(X12 == 3, 1, 0))

data %>% select(X12, X12_0, X12_2, X12_3) %>% head

data %>% select(-X12) -> data

  X12 n
1 0    10
2 1     7
3 2    11
4 3   266

  X12 X12_0 X12_2 X12_3
1 3   0     0     1
2 3   0     0     1
3 3   0     0     1
4 0   1     0     0
5 3   0     0     1
6 3   0     0     1

In [40]:
data %>% colnames

data %>% select(target) -> target
data %>% select(-target) -> data

data %>% cbind(target) -> data

data %>% head

 [1] "X0"     "X1"     "X3"     "X4"     "X7"     "X9"     "X11"    "target"
 [9] "X2_0"   "X2_1"   "X2_2"   "X5_0"   "X5_1"   "X6_1"   "X6_2"   "X8_1"
[17] "X8_0"   "X10_1"  "X10_2"  "X10_3"  "X12_0"  "X12_2"  "X12_3"

  X0 X1 X3  X4  X7  X9 X11 X2_0 X2_1 X2_2 ⋯ X6_2 X8_1 X8_0 X10_1 X10_2 X10_3
1 28 1  130 132 185 0  NA  0    1    0    ⋯ 0    0    1    0     0     1
2 29 1  120 243 160 0  NA  0    1    0    ⋯ 0    0    1    0     0     1
3 29 1  140  NA 170 0  NA  0    1    0    ⋯ 0    0    1    0     0     1
4 30 0  170 237 170 0  NA  0    0    0    ⋯ 1    0    1    0     0     1
5 31 0  100 219 150 0  NA  0    1    0    ⋯ 1    0    1    0     0     1
6 32 0  105 198 165 0  NA  0    1    0    ⋯ 0    0    1    0     0     1
  X12_0 X12_2 X12_3 target
1 0     0     1     0
2 0     0     1     0
3 0     0     1     0
4 1     0     0     0
5 0     0     1     0
6 0     0     1     0

In [41]:
data %>% count(target)

  target n
1 0      188
2 1      106

In [42]:
set.seed(123)  # for reproducibility

data_0 <- data %>% filter(target == 0)
data_1 <- data %>% filter(target == 1)

n <- nrow(data_0)
train_size_0 <- floor(0.7 * n)

# Shuffle the rows first
data_0 <- data_0 %>% slice_sample(prop = 1)

# Split into training and testing
train_df_0 <- data_0 %>% slice(1:train_size_0)
test_df_0  <- data_0 %>% slice((train_size_0 + 1):n)

In [43]:
n <- nrow(data_1)
train_size_1 <- floor(0.7 * n)

# Shuffle the rows first
data_1 <- data_1 %>% slice_sample(prop = 1)

# Split into training and testing
train_df_1 <- data_1 %>% slice(1:train_size_1)
test_df_1  <- data_1 %>% slice((train_size_1 + 1):n)

train <- train_df_1 %>% rbind(train_df_0)
test <- test_df_1 %>% rbind(test_df_0)

train %>% dim
train %>% count(target)

[1] 205  23

  target n
1 0      131
2 1       74

In [44]:
test %>% dim
test %>% count(target)

[1] 89 23

  target n
1 0      57
2 1      32

In [106]:
dir.create("heart")
setwd("heart")

train %>% write_csv('heart_train.csv') 
test %>% write_csv('heart_test.csv')

In [45]:
32/89

[1] 0.3595506